* {
  padding: 0;
  margin: 0;
}

/* Navbar */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 10px;
  background-color: grey;
}

ul {
  display: flex;
  flex-direction: row;
}

/* Modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
}

/* Landing page */

.landing-div-background {
  display: flex;
  justify-content: space-between;
  height: 94vh;
  width: 100vw;
}

.background-div-block {
  height: 100%;
  width: 30%;
  transition: width 0.3s ease-out;
}
