@font-face {
  font-family: "CreteRound";
  src: url("assets/fonts/CreteRound-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "LilyScript";
  src: url("assets/fonts/LilyScriptOne-Regular.woff2") format("woff2");
}

:root {
  --green: #06d6a0;
  --orange: #ff6459;
}

ul {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
}

.btn-primary-3,
.btn-primary-2,
.btn-primary-1,
.btn-primary {
  font-family: "CreteRound";
  background-color: var(--green);
  text-decoration: none;
  border: none;
  padding: 3px 24px;
  font-size: 16px;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: white;
}

.btn-primary-1:hover {
  cursor: pointer;
  background-color: #1693a7;
  color: white;
}

.btn-primary-2:hover {
  cursor: pointer;
  background-color: #2d1b33;
  color: white;
}

.btn-primary-3:hover {
  cursor: pointer;
  background-color: #c85866;
  color: white;
}

.btn-primary:focus {
  outline: 0;
}

/* Navbar */

nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 10px;
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-link {
  margin-right: 12px;
  cursor: pointer;
}

/* Modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
}

/* Landing page */

.landing-div-background {
  display: flex;
  justify-content: space-between;
  height: 94vh;
  width: 100vw;
}

.background-div-block {
  /* margin-left: -4px; */
  height: 100%;
  transition: width 0.15s ease-out;
}
