@font-face {
  font-family: "CreteRound";
  src: url("assets/fonts/CreteRound-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "LilyScript";
  src: url("assets/fonts/LilyScriptOne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Medium";
  src: url("assets/fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2")
    format("woff2");
}

:root {
  --green: #06d6a0;
  --orange: #ff6459;
  --lily: "LilyScript";
  --Crete: "CreteRound";
  --HelveticaM: "Helvetica Medium";
}

ul {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 10px;
  background-color: white;
  border-bottom: 1px solid var(--green);
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-buttons-area {
  display: flex;
}

.btn-primary-3,
.btn-primary-2,
.btn-primary-1,
.btn-primary {
  font-family: "CreteRound";
  background-color: var(--green);
  text-decoration: none;
  border: none;
  padding: 3px 24px;
  font-size: 16px;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: white;
}

.btn-primary-1:hover {
  cursor: pointer;
  background-color: #1693a7;
  color: white;
}

.btn-primary-2:hover {
  cursor: pointer;
  background-color: #2d1b33;
  color: white;
}

.btn-primary-3:hover {
  cursor: pointer;
  background-color: #c85866;
  color: white;
}

.btn-primary:focus {
  outline: 0;
}

.nav-logo-3,
.nav-logo-2,
.nav-logo-1,
.nav-logo {
  font-family: var(--lily);
  font-size: 33px;
  color: var(--green);
}

.nav-logo:hover {
  cursor: pointer;
  color: var(--orange);
}

.nav-logo-1:hover {
  cursor: pointer;
  color: #1693a7;
}

.nav-logo-2:hover {
  cursor: pointer;
  color: #2d1b33;
}

.nav-logo-3:hover {
  cursor: pointer;
  color: #c85866;
}

.register-link {
  margin-right: 12px;
  cursor: pointer;
  font-family: var(--Crete);
}

/* Modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
}

/* Landing page */

.landing-div-background {
  display: flex;
  justify-content: space-between;
  height: 91.4vh;
  width: 100vw;
}

.hero-message {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 20%;
}

.hero-heading {
  font-family: var(--Crete);
  font-size: 90px;
  color: white;
  width: 800px;
}

.btn-landing {
  width: 200px;
  padding: 10px 10px;
  margin-top: 20px;
  color: white;
  font-size: 22px;
}

/* Color Cards */

.background-div-card {
  /* margin-left: -4px; */
  /* position: relative; */
  height: 100%;
  transition: width 0.1s ease-out;
  display: flex;
  justify-content: center;
}

.card-overlay {
  position: absolute;
  background-color: blue;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.background-div-card:hover {
  cursor: pointer;
}

.card-copy-div {
  position: absolute;
  overflow: hidden;
  align-self: flex-end;
  margin-bottom: 40%;
  text-align: center;
}

.card-hex-copy {
  font-family: var(--HelveticaM);
}

.card-copy-copy {
  margin-top: 10px;
  font-family: var(--HelveticaM);
}
